<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_campusx_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_campusx_logo"
        android:forceDarkAllowed="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusX"
        tools:targetApi="31">

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding Activity -->
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!-- Campus Verification Activity -->
        <activity
            android:name=".ui.auth.CampusVerificationActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- OTP Verification Activity -->
        <activity
            android:name=".ui.auth.OtpVerificationActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!-- Item Detail Activity -->
        <activity
            android:name=".ui.detail.ItemDetailActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!-- Booking Confirmation Activity -->
        <activity
            android:name=".ui.booking.BookingConfirmationActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

    </application>

</manifest>
